@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

.card {
  @apply bg-white shadow-2xl rounded-lg p-10 flex flex-col space-y-7 w-11/12 max-w-80;
}

input {
  @apply border border-gray-300 rounded-md p-2;
}

h1 {
  @apply text-3xl font-bold text-center text-[#212121];
}

button {
  @apply bg-[#01669e] text-white rounded-md p-2;
}

.link {
  @apply text-[#01669e] underline m-auto text-xs;
}
.task {
  @apply flex flex-col space-y-2 relative border-b-2 pb-2;

  h2 {
    @apply text-xl font-bold text-[#212121];
  }

  p {
    @apply text-[#212121];
  }
  button {
    @apply bg-red-500 text-white rounded-md p-2 relative flex justify-center sm:absolute top-0 right-0 shadow-lg; 
  }
}
